<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Bepasty</title>

        <!-- Bootstrap styles -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" type="text/css">
        <!-- Bepasty styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='app/css/style.css' ) }}" type="text/css">
        {% block extra_link %}{% endblock %}
    </head>

    <body>
        <div id="wrapper">
            <!-- Begin header -->
            <div id="header">
                <div class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">bepasty</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.header -->

            <!-- Begin page content -->
            <div class="container">
                {% block content %}{% endblock %}
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->

        <!-- Begin footer -->
        <div id="footer">
            <div class="container">
                <div class="credit">
                    Sourcecode available on <a href="https://bitbucket.org/waldi/wsgiwar2013">Bitbucket</a> -
                    developed by Bastian Blank and Christian Fischer
                    during the <a href="http://wsgiwrestle.com/teams/c2/club-of-unrelated-members/">WSGI Wrestle 2013</a>.
                </div>
            </div>
        </div>
        <!-- /.footer -->

        <!-- jQuery -->
        <script src="//code.jquery.com/jquery.js"type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" type="text/javascript"></script>
        {% block extra_script %}{% endblock %}
    </body>
</html>
